<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <% peopleList.forEach(item => {%>
      <li>Name: <%= item.name %> , Age: <%= item.age %> </li>

    <%})%>

  </ul>
</body>
</html>